---
title: Welcome to Middleman
---

<div class="row">
    <div class="hover-slide w-60 fl">
      <% (1..20).each do | this | %>
      <div>
        <div class="flex items-center tc h-100 w-100" style="background:<%= randomString(['#F0F', '#ff00a8', '#FFDD05']) %>; color:<%= randomString(['#F00', '#0f0261', '#00e8ff', '#FFA900', '#FFC4B6', '#332ACD', '#dcf996']) %>;">
          <div class="bottom-1 relative">
            <span class="f6 db ma0 top-1 left-1">V0.1</span>
            <h1 class="ma0 lh-custom ttu">MOUSE SLIDE PLUGIN</h1>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="hover-slide w-40 fl">
      <% (1..10).each do | this | %>
        <img src="https://source.unsplash.com/random?sig=<%= rand(1..50) %>&abstract" alt="">
      <% end %>
    </div>

    <div class="hover-slide w-50 fl">
      <img src="images/photo-13.jpeg" alt="">
      <img src="images/photo-12.jpeg" alt="">
      <img src="images/photo-11.jpeg" alt="">
      <img src="images/photo-10.jpeg" alt="">
      <img src="images/photo-9.jpeg" alt="">
      <img src="images/photo-8.jpeg" alt="">
      <img src="images/photo-7.jpeg" alt="">
      <img src="images/photo-6.jpeg" alt="">
      <img src="images/photo-5.jpeg" alt="">
      <img src="images/photo-4.jpeg" alt="">
      <img src="images/photo-3.jpeg" alt="">
      <img src="images/photo-2.jpeg" alt="">
      <img src="images/photo-1.jpeg" alt="">
    </div>


  <div class="hover-slide w-50 fl">
    <% (1..8).each do | this | %>
      <div>
        <div class="flex items-center tc h-100 w-100" style="background:<%= randomString(['#F0F', '#ff00a8', '#FFDD05']) %>;">
          <h1 class="ma0 lh-custom ttu" style="color:<%= randomString(['#F00', '#0f0261', '#00e8ff']) %>;">HEJ BOO!</h1>
        </div>
      </div>
    <% end %>
  </div>

  <div class="hover-slide w-100 fl">
    <img src="https://source.unsplash.com/random?sig=5&abstract" alt="">
    <img src="https://source.unsplash.com/random?sig=6&abstract" alt="">
    <img src="https://source.unsplash.com/random?sig=7&abstract" alt="">
    <img src="https://source.unsplash.com/random?sig=8&abstract" alt="">
    <img src="https://source.unsplash.com/random?sig=9&abstract" alt="">
  </div>
</div>

<script type="text/javascript">
  var scroll = new HoverSlide({
    selector: 'hover-slide',
    refreshRate: 66, //milliseconds
    showSegments: false,
    showIndicator: true,
    reverse: false
  });

  // var myPlugin = new slideHover(".hover-slide")
  // myPlugin.init()
</script>
